[submodule "jovarkos-repo"]
	path = jovarkos-repo
	url = https://github.com/JovarkOS/jovarkos-repo
[submodule "jovarkos-jbuild"]
	path = jovarkos-jbuild
	url = https://github.com/JovarkOS/jovarkos-jbuild
[submodule "jovarkos-config"]
	path = jovarkos-config
	url = https://github.com/JovarkOS/jovarkos-config
[submodule "jovarkos-backgrounds"]
	path = jovarkos-config/jovarkos-backgrounds/
	url = https://github.com/JovarkOS/jovarkos-backgrounds