[submodule "jovarkos-repo"]
	path = jovarkos-repo
	url = https://github.com/jovarkos/jovarkos-repo
[submodule "jovarkos-jbuild"]
	path = jovarkos-jbuild
	url = https://github.com/jovarkos/jovarkos-jbuild
[submodule "jovarkos-config"]
	path = jovarkos-config
	url = https://github.com/jovarkos/jovarkos-config
[submodule "jovarkos-software-recommendations"]
	path = jovarkos-software-recommendations
	url = https://github.com/jovarkos/jovarkos-software-recommendations
[submodule "docs"]
	path = docs
	url = https://github.com/jovarkos/docs
[submodule "jovarkos-media"]
	path = jovarkos-media
	url = https://github.com/jovarkos/jovarkos-media
[submodule "jovarkos-website"]
	path = jovarkos-website
	url = https://github.com/jovarkos/jovarkos-website
